
   
   div.top-contact-wrapper,
   div.background-img{
      //  background-image: url("/img/IMG-43a7deca5b7f0d714e7adeac3c2f5e53-V.jpg");
      //  background-position: center;
      //  background-repeat: no-repeat;
      //  background-size: cover;
      //  min-height: 100vh;
    //    height: 100vh;
    background-color: #e6e6e6;
    text-align: center;
    padding: 2rem;
    q{
       font-weight: 600;
       letter-spacing: 2px;
    }
    h3{
       font-weight: lighter;
       font-size: 2.5rem;
    }
   }

   h3{
      position: relative;
      right: 0;
      animation: 2s slider;
   }
   q{
      position: relative;
      right: 0;
      animation:  2s fadeIn;
      opacity: 1;
   }

   @keyframes slider{
      0%{
         right: 0%;   
      }
      50%{
         right: 100%;
      }
      100%{
         right: 0%;
      }    
   }
   @keyframes fadeIn {
      0%{
         left: 0%;
      }
      50%{
         left: 100%;
      }
      100%{
         left: 0%;
      }  
   }

   div.main-contact-wrapper script{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }

      // div.right-contact iframe{
      //    max-width: 200px;
      //    border:1px solid red;

      // }
   