   
   *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

h2{
    text-align: center;
}

img{
    max-width: 100%;
}

   img#avatar{
    border: px solid rgb(0, 38, 255);
    margin-bottom: 0rem;
    }
    h1{
        border:  0px solid red;
    }

    body{
        color:#fff;
        background-color: rgb(36, 36, 36);
    }

 div{
    border:  1px solid rgb(68, 66, 66);
    display:flex;
    justify-content: center;
    padding: 1rem;
}

    div.repo-hero-container{
        display: block;
        // border:  1px solid red;
        div.repo-inner-hero-items{
            height: auto;
            font-size:  1.25rem;
            // border:  1px solid red;

        }

        button.btn{
            background-color: rgb(255, 255, 255);
            border: none;
            padding: 1rem;
        }
        button.btn a{
            color:rgb(36, 36, 36);
            font-size: 1rem;
            font-weight: bolder;
        }
        button.btn:hover{
            background-color: rgba(2, 133, 255, 0.952);
        }
    }

    div.features-container{
        justify-content: space-evenly;
        flex-wrap: wrap;
        div.left-feature-container{
            width:  30vw;
            min-height:  50vh;
        }
    }

       footer,
        h6{
            text-align: center;
        }
    