     
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: sans-serif;
            text-decoration: none;
            list-style-type: none;
        }

        a{
            color:rgb(0, 0, 0);
        }

        button{
            border: 0px solid;
            cursor: pointer;
        }

        img{
            max-width: 100%;
            height:auto;
        }
        div.heading{
            display: flex;
            justify-content: space-around;
            cursor: pointer;
             padding: 1rem;
        }

       
    .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.897);
    overflow-x: hidden;
    transition: 0.1s;
  }
  
  .overlay-content {
    width: 100%;
    text-align: center;
    margin-top: 10rem;
  
  }
  .overlay-content nav ul li a{
      padding: 1rem 0rem;
    margin: 2rem 1rem;
  }

  .overlay-content nav ul li a:hover{
      color:#03493a;
  }

  .closebtn {
    float: right;
    color:#fff;
    font-size: 1rem;
    padding: 1rem;
  }

  .closebtn:hover{
      color:#ff0000;
  }
  
  .overlay a {
    text-decoration: none;
    color: #7c7b7b;
    display: block;
    transition: 0.1s;
    font-size: 5rem;
  }
  

        div.top-most-container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            border: px solid;
            // height: 50vh;
       }

        div.top-inner-left-container{
            border: px solid orange;
            max-width: 500px;
            padding: 3rem;
            margin-right: 5rem;

            h2{
                font-family: serif;
                font-size: 2.5rem;
                font-weight: normal;
            }

            p.brief{
                margin: 1rem 0;
                letter-spacing: .15rem;
                line-height: 1.5rem;
                opacity: 0.5;
            }

        button.meet-btn{
            border: 0px solid;
            padding: .7rem 1rem;
            background-color:#000;
        }
        button.meet-btn a{
            color:#fff;
            font-size: 1rem;
        }
        button.meet-btn:hover{
            background-color: #03493a;
        }
      }

    

      div.mid-clippy-wrapper{
        clip-path: polygon(0 34%, 100% 0, 100% 100%, 0% 100%);        text-align: center;
        height: 50vh;
        width: 100%;
        background-color: rgb(241, 241, 241);
        color:rgb(0, 0, 0);
        letter-spacing: 1px;
     
      h3{
        padding-top: 10rem;
        font-size: 2rem;
      }
      p.enquiry{
          font-size: 1.3rem;
          margin: 1rem 0;
          opacity: 0.5;
      }

      button.touch-btn{
          background-color: rgb(0, 0, 0);
          padding: 1rem;
          margin-top: 1rem;
          font-size: .9rem;
          text-align: center;
          color:#fff;
      }
      button.touch-btn:hover{
          background-color: #03493a;
       
       
      }
    }
    
    //  footer part starts
    div.footer-wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background-color: #000;
        color:#fff;
        padding: 5rem;

    }

     