     
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: sans-serif;
            text-decoration: none;
            list-style-type: none;
        }

        a{
            color:rgb(0, 0, 0);
        }

        button{
            border: 0px solid;
            cursor: pointer;
        }

        img{
            max-width: 100%;
            height:auto;
        }
        div.heading{
            display: flex;
            justify-content: space-around;
            cursor: pointer;
             padding: 1rem;
        }

       
    .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.897);
    overflow-x: hidden;
    transition: 0.1s;
  }
  
  .overlay-content {
    width: 100%;
    text-align: center;
    margin-top: 10rem;
  
  }
  .overlay-content nav ul li a{
      padding: 1rem 0rem;
    margin: 2rem 1rem;
  }

  .overlay-content nav ul li a:hover{
      color:#03493a;
  }

  .closebtn {
    float: right;
    color:#fff;
    font-size: 1rem;
    padding: 1rem;
  }

  .closebtn:hover{
      color:#ff0000;
  }
  
  .overlay a {
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.1s;
    font-size: 5rem;
  }
  
 
    
       
        div.top-most-container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            border: 1px solid;
            // height: 50vh;
       }

        div.top-inner-left-container{
            border: 1px solid orange;
            max-width: 500px;
            padding: 3rem;
          

        button.meet-btn{
            border: 0px solid;
            padding: 0.7rem;
            background-color:#000;
        }
        button.meet-btn a{
            color:#fff;
        }
        button.meet-btn:hover{
            background-color: #03493a;
        }
      }

       