

        div.top-most-container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            border: px solid;
            
       }

       h2,h5{
        font-family: serif;
        font-size: 2.5rem;
        font-weight: normal;
       }
       
        div.top-inner-left-container{
            border: px solid orange;
            max-width: 500px;
            padding: 3rem;
            margin-right: 5rem;

            p.brief{
                margin: 1rem 0;
                letter-spacing: .15rem;
                line-height: 1.5rem;
                opacity: 0.5;
            }

        button.meet-btn{
            border: 0px solid;
            padding: .7rem 1rem;
            background-color:#000;
        }
        button.meet-btn a{
            color:#fff;
            font-size: 1rem;
        }
        button.meet-btn:hover{
            background-color: #03493a;
            transition: .5s;
        }
       }

      @media only screen and (max-width: 300px) {
        div.top-inner-left-container{
            max-width: 300px;
            margin-right: 0rem;
        }
       }

      div.mid-clippy-wrapper{
        clip-path: polygon(0 53%, 100% 0, 100% 100%, 0% 100%);
        text-align: center;
        height: auto;
        width: 100%;
        background-color: rgb(241, 241, 241);
        color:rgb(0, 0, 0);
        letter-spacing: 1px;
        padding: 4rem;
      }
     
      h3{
        padding-top: 8rem;
        font-size: 3rem;
        font-weight: normal;
      }

 
      p.enquiry{
          font-size: 1.3rem;
          margin-top: 2rem;
          opacity: 0.5;
      }

      button.touch-btn{
          background-color: rgb(0, 0, 0);
          padding: 1rem;
          margin-top: 2rem;
          font-size: .9rem;
          text-align: center;
          color:#fff;
      }

      button.touch-btn:hover{
          background-color: #03493a;
          transition: .5s;
      }

    @media only screen and (max-width: 768px) {
        div.mid-clippy-wrapper{
            clip-path: polygon(0 34%, 100% 0, 100% 100%, 0% 100%); 
            padding: 1.65rem;
         }
         h3{
             padding-top: 6rem;
             font-size: 1.85rem;
         }
         p.enquiry{
             font-size: .9rem;
             margin: .5rem 0rem;
         }
         button.touch-btn{
             margin: .85rem 0rem;
         }
           }

   //  footer part starts
   div.footer-wrapper{
    display: flex;
    justify-content: space-around;
    background-color: #000;
    color:#fff;
    padding: 5rem;
   }

   section.social-media-links .fa{
       color:#fff;
       font-size: 1.5rem;
       padding: .5rem;
   }

    h5{
        font-size: 2rem;
    }
    
    p.address1,
    p.address2,
    aside{
        cursor: pointer;
        padding-top: .75rem;
    }

    aside a{
        color:#fff;
    }

    p.address1:hover,
    p.address2:hover,
    aside a:hover{
        color:#03493a;
        transition: .5s;
    }
  

 
    
